/*
Author: Lanee Matthews
Date: September 29, 2022
File Name: styles3.html
*/

/*CSS Reset */
body, header, nav, main, footer, img, h1, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.5em
  font-family: 'DM Serif Display', serif;
  font-family: 'Roboto', sans-serif;
}

/*Style rules for body and images */
body {
  background-color: #f6eee4;
}

img {
  max-width: 100%;
  display: block;
}

/* Style rules for mobile viewport */

/* hide tab-desk class */
.tab-desk{
  diplay:none;

/*Style rules for navigation area */
nav {
  background-color: #2a1f14;
  font-size: 80%;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  display: block; border-top: 1px solid #solid #e5e9fc;
  font-size: 1.5em;
  font-family: Georgia, Arial, sans-serif;
  font-weight: bold;
}

nav li a {
  display: block;
  color: #f6eee4;
  text-align: center;
  padding: 0.5em 2em;
  text-decoration: none;
}

/* Style rules for main content */
main {
  padding: 2%;
  font-family: Georgia, Arial, sans-serif;
}

main p {
  font-size: 1.25em;
}

main h3 {
  padding-top: 2%;
}

main ul {
  list-style-type: square;
}

.link {
  color: #4d3319;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.action {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}

#contact.email-link {
  text-align: center;
}
.tel-link{
  background-color: #373684;
  padding: 2%;
  margin: 0 auto;
  width: 80%;
  text-align:center;
  border-radius: 5px;
}


.tel-link a{
  color: #ffff;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
}
#piano{

}

#guitar{

}

#info ul
left margin : 10
}

#round class
{
border radius: 8px;
}

/* Style rules for footer content */
footer {
  text-align: center;
  font-size: 0.85em;
  background-color: #2a1f14;
  color: #f6eee4;
  padding: 1% 0%;
}

footer a {
  color: #f3e6d8;
  text-decoration: none;
}
